.cardContainer{
  width: 110%;
  border: 1px solid rgb(214, 213, 213);
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.cardTitle{
  font-size: smaller;
}

.cardContainer > *{
  width: 100%;
}

.showStatus{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: rgb(224, 223, 223);
  border-radius: 50%;
}

.cardTags{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: smaller;
}

.tags{
  width: max-content;
  padding: 2px 8px;
  border-radius: 5px;
  border: 1px solid silver;
}