.dashContainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  background: rgb(242, 242, 244);
  padding: 5px 5px;
  height:92vh;
  width: 100%;
}

.dashCardContainer{
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 5px;
  width : 250px;
  height: max-content;
  margin-left: 20px;
}
